In [1]:
import pandas as pd

In [2]:
df = pd.read_table("ids_covs.txt", 
                   sep='\s+', 
                  names = ["ID", "nReads"])
df.head()

                   ID     nReads
0  PZ7180000000004_TX  nReads=26
1     PZ7180000031590   nReads=3
2     PZ7180000027934   nReads=5
3            PZ456916   nReads=1
4     PZ7180000037718   nReads=9

In [3]:
df["Seq Length"] = df['nReads'].str.extract('(\d+)').astype(int)
df.head()

                   ID     nReads  Seq Length
0  PZ7180000000004_TX  nReads=26          26
1     PZ7180000031590   nReads=3           3
2     PZ7180000027934   nReads=5           5
3            PZ456916   nReads=1           1
4     PZ7180000037718   nReads=9           9

In [5]:
sd: float = df['Seq Length'].std()
print("Standard deviation is: " + str(round(sd,2)))

Standard deviation is: 42.56